/* You can add global styles to this file, and also import other style files */
.Header {
    background-color: #209CEE;
    min-height: 20vh;
    margin-bottom: 2vh;
}

.HeaderTitle {
    color: white;
    font-size: 4vh;
}

div > img {
    height: 15vh;
    padding-top: 2vh;
    padding-bottom: 2vh;
}



