.card {
  margin: 0 auto; /* Added */
  float: none; /* Added */
  min-height: 100%;
}

.searchBarBorder {
  border-style: solid;
  border-width: thin;
}
.card-img-top {
  width: 100%;
  height: 25vh;
  max-height: 400px;
}

.bold {
  font-weight: bold;
}

.floatRight {
  float: right;
}

.paddingBottom {
  padding-bottom: 2vh;
}

.searchBar {
  overflow: hidden;
  padding-right: 0.5em;
}

.fullWidth {
  width: 100%;
}


.cardTitleFont {
  font-size: 1rem;
  font-weight: bold;
}

.cardTextFont {
  font-size: .8rem;
}