.card {
  margin: 0 auto; /* Added */
  float: none; /* Added */
  min-height: 100%;
}

.searchBarBorder {
  border-style: solid;
  border-width: thin;
}
.card-img-top {
  width: 100%;
  height: 25vh;
}

.bold {
  font-weight: bold;
}

.floatRight {
  float: right;
}

.searchBar {
  overflow: hidden;
  padding-right: 0.5em;
}

.fullWidth {
  width: 100%;
}
@media (min-width: 300px) {
  .card-img-top {
  }
}

@media (min-width: 700px) {
  .test {
    background-color: blue;
  }
}
